# Backend API Endpoint
NEXT_PUBLIC_API_URL="http://localhost:8000/api/v1"

# Application Metadata
NEXT_PUBLIC_APP_NAME="Smart Attendance System"
NEXT_PUBLIC_APP_ENV="development"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
