# Production Backend API Endpoint
NEXT_PUBLIC_API_URL="http://100.101.187.9:8006/api/v1"

# Production Application Metadata
NEXT_PUBLIC_APP_NAME="Smart Attendance System"
NEXT_PUBLIC_APP_ENV="production"
NEXT_PUBLIC_APP_URL="https://smart-attandance-system-theta.vercel.app"
