# Flutter/Dart related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android related
android/**/generated/
android/app/local.properties
android/app/key.properties
android/app/src/main/res/raw/google_services.json
android/app/google-services.json
*.iml
*.ipr
*.iws
.idea/
.gradle/
local.properties

# iOS related
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/
ios/Pods/
ios/.symlinks/
ios/Podfile.lock
Podfile.lock
*.xcworkspace/

# Symbols and Maps
app.*.symbols
app.*.map.json

# Logs
*.log

# OS files
.DS_Store
