{% extends "base_email.html" %}

{% block content %}
  <h2 class="email-heading">Password Reset Request</h2>
  <p>Hello {{ recipient_name }},</p>
  <p>We received a request to reset your password for your {{ system_name }} account. You can set a new password by clicking the link below:</p>

  <div class="btn-container">
    <a href="{{ reset_url }}" class="btn-primary" target="_blank">Reset Password</a>
  </div>

  <table class="data-table">
    <tr>
      <td class="data-label">Account Email</td>
      <td class="data-value">{{ email }}</td>
    </tr>
    <tr>
      <td class="data-label">Link Expiry</td>
      <td class="data-value">{{ expire_minutes }} minutes</td>
    </tr>
  </table>

  <p style="font-size: 13px; color: #64748b; margin-top: 16px;">
    If you did not make this request, you can safely ignore this email. Your password will remain unchanged.
  </p>

  <div class="fallback-link">
    Direct reset link:<br>
    <a href="{{ reset_url }}">{{ reset_url }}</a>
  </div>
{% endblock %}
