{% extends "base_email.html" %}

{% block content %}
  <h2 class="email-heading">Account Invitation</h2>
  <p>Hello {{ recipient_name }},</p>
  <p>You have been registered as a <strong>{{ role_title }}</strong> on the {{ system_name }}. To complete your account setup and define your password, click the button below:</p>

  <div class="btn-container">
    <a href="{{ invite_url }}" class="btn-primary" target="_blank">Activate Account</a>
  </div>

  <table class="data-table">
    <tr>
      <td class="data-label">Account Email</td>
      <td class="data-value">{{ email }}</td>
    </tr>
    {% if identifier_label and identifier_value %}
    <tr>
      <td class="data-label">{{ identifier_label }}</td>
      <td class="data-value">{{ identifier_value }}</td>
    </tr>
    {% endif %}
    <tr>
      <td class="data-label">Link Expiry</td>
      <td class="data-value">{{ expire_hours }} hours</td>
    </tr>
  </table>

  <div class="fallback-link">
    If the button above does not work, copy and paste this URL into your browser:<br>
    <a href="{{ invite_url }}">{{ invite_url }}</a>
  </div>
{% endblock %}
